@model IEnumerable<Pelicula.Models.ViewModel.IndexVistas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
@{
    int contador = Model.Count();
}
<p>
    <a asp-action="Create">Create New</a>
</p>
@if(contador > 0){
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListPelicula.Titulo)
            </th>
            <th>Vistas</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPelicula.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vistas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ListPelicula.IdPelicula">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ListPelicula.IdPelicula">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ListPelicula.IdPelicula">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
}else
{
    <h2 class="text-center">No se ha registrado ninguna Pelicula</h2>
}
